# Exclude giovanni
giovanni

trab1
*.tsp
*.mst
*.tour

# build n archive artifacts
build/
*.o
*.a

# Diretório de exemplos
exemplos/

# python shit
__pycache__/
ufes-mst/

# Arquivos gerados pelos programas
*.bin
*.csv

# Saida do valgrind gerada por meio do Makefile
valgrind-out.txt
