# Exclude giovanni
giovanni

# build n archive artifacts
*.o
*.a

# Diretório de exemplos
exemplos/

# venv
ufes-mst/

# Arquivos gerados pelos programas
*.bin
*.csv

# Saida do valgrind gerada por meio do Makefile
valgrind-out.txt
